@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;800&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* BASIC STYLING */
body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-rows: 10rem 1fr 10rem;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.8rem;
}

header {
  grid-column: 1 / -1;
  background-color: black;
  color: #fff;
  font-size: 4rem;
}

main {
  grid-column: 1 / 4;
  width: 80vw;
  max-width: 100vw;
  min-height: 70vh;
  margin: 0 auto;
  padding: 5rem;
}

.primary-heading {
  margin-bottom: 2rem;
  font-size: 4.5rem;
  font-weight: 800;
}

.secondary-heading {
  margin: 3.5rem;
  font-size: 4rem;
  font-weight: 600;
}

/* FORM STYLING */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.select-block {
  margin: 2rem 0;
  display: flex;
}

.fas.fa-wine-glass-alt,
.fas.fa-dollar-sign {
  margin-right: 0.7rem;
}

select {
  appearance: none;
  border: 0;
  outline: 0;
  background-color: #fff;
  font: inherit;
  width: 25rem;
  height: 3rem;
  margin-left: 1rem;
  padding: 0 4rem 0 1rem;
  border-radius: 0.25em;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.range-container {
  display: flex;
  position: relative;
}

input[type='range'] {
  margin-left: 1rem;
  width: 25rem;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']+label {
  margin-left: 2rem;
  width: 5.5rem;
  padding: 0.2rem;
  text-align: center;
  border-radius: 0.4rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

/* Chrome & Safari */
input[type='range']::-webkit-slider-runnable-track {
  background-color: #fff;
  width: 100%;
  height: 3rem;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 3rem;
  width: 2rem;
  background-color: #000000af;
  border-radius: 0.25rem;
  border: 1px solid #0000002f;
  cursor: pointer;
}

input[type=range]:disabled::-webkit-slider-runnable-track {
  background-color: #eee;
}

input[type=range]:disabled::-webkit-slider-thumb {
  background-color: #eee;
}

/* Firefox */
input[type='range']::-moz-range-track {
  background-color: #fff;
  width: 100%;
  height: 3rem;
  margin-left: 0.5rem;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  height: 3rem;
  width: 2rem;
  background-color: #000000af;
  border-radius: 0.25rem;
  border: 1px solid #000000af;
  cursor: pointer;
}

input[type=range]:disabled::-moz-range-track {
  background-color: #eee;
}

input[type=range]:disabled::-moz-range-thumb {
  background-color: #eee;
}

/* WINE LIST STYLING */
.wine-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wine {
  width: 55rem;
  margin: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.wine-rating {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-weight: 600;
}

.wine-pairing {
  display: inline-block;
  margin: 1rem 0;
  font-size: 1.6rem;
}

.wine-dish-pairing {
  display: inline-block;
  font-weight: 600;
  margin: 1rem;
  padding: 0.1rem 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.wine-name {
  font-weight: 600;
}

.wine-img {
  margin-right: 3rem;
  width: 200px;
  height: 300px;
  object-fit: contain;
}

.wine-overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  height: 85%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.5s ease-in;
}

.wine:hover .wine-overview {
  transform: translateY(0);
}

.wine-description {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.wine-price {
  font-size: 1.7rem;
}

.price {
  font-weight: 600;
}