@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;800&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

/* BASIC STYLING */
body {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-rows: 10rem 1fr 10rem; */
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  /* grid-column: 1 / -1; */
}

.primary-heading {
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  font-weight: 800;
}

.secondary-heading {
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
  font-weight: 600;
}

/* FORM STYLING */
.select {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  text-align: end;
}

.select-block {
  margin: 2rem 0;
  display: flex;
  align-items: center;
}

.select-block label,
.select-block p {
  width: 10rem;
}

.fas.fa-wine-glass-alt,
.fas.fa-dollar-sign {
  margin-right: 0.7rem;
}

select {
  appearance: none;
  border: 0;
  outline: 0;
  background-color: #fff;
  font: inherit;
  width: 20vw;
  height: 3rem;
  margin-left: 1rem;
  padding: 0 4rem 0 1rem;
  border-radius: 0.25em;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.range-container,
#wine {
  display: flex;
  position: relative;
}

.range-container label {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='range'] {
  margin-left: 1rem;
  width: 20vw;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type='range']:focus {
  outline: none;
}

input[type='range'] + label {
  margin-left: 2rem;
  width: 5.5rem;
  padding: 0.2rem;
  text-align: center;
  border-radius: 0.4rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

/* Chrome & Safari */
input[type='range']::-webkit-slider-runnable-track {
  background-color: #fff;
  width: 100%;
  height: 3rem;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 3rem;
  width: 2rem;
  background-color: #000000af;
  border-radius: 0.25rem;
  border: 1px solid #0000002f;
  cursor: pointer;
}

input[type='range']:disabled::-webkit-slider-runnable-track {
  background-color: #eee;
}

input[type='range']:disabled::-webkit-slider-thumb {
  background-color: #eee;
}

/* Firefox */
input[type='range']::-moz-range-track {
  background-color: #fff;
  width: 100%;
  height: 3rem;
  margin-left: 0.5rem;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  height: 3rem;
  width: 2rem;
  background-color: #000000af;
  border-radius: 0.25rem;
  border: 1px solid #000000af;
  cursor: pointer;
}

input[type='range']:disabled::-moz-range-track {
  background-color: #eee;
}

input[type='range']:disabled::-moz-range-thumb {
  background-color: #eee;
}

/* WINE LIST STYLING */
.wine-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wine {
  width: 52vw;
  margin: 2rem;
  display: flex;
  align-items: center;
  border-radius: 16px;
  background: #f5f5f5;
  box-shadow: 9px 9px 18px #c2c2c2, -9px -9px 18px #ffffff;
  position: relative;
  overflow: hidden;
  padding-right: 1rem;
}

.wine-rating {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-weight: 600;
}

.wine-pairing {
  display: inline-block;
  margin: 1rem 0;
  font-size: 1.2rem;
}

.wine-dish-pairing {
  display: inline-block;
  font-weight: 600;
  margin: 1rem;
  padding: 0.1rem 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.wine-img {
  -o-object-fit: fill;
  object-fit: fill;
  width: 14rem;
  height: 16rem;
}

.wine__img--container {
  margin-right: 2rem;
}

.wine-overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  height: 100%;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.5s ease-in;
}

.wine:hover .wine-overview {
  transform: translateY(0);
}

.wine-description {
  font-size: 1rem;
  margin: 1rem 0;
  line-height: 1.5rem;
}

.wine-price {
  font-size: 1.3rem;
}

.price {
  font-weight: 600;
}
