@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  max-width: 1200px;
  margin: auto;
  background-color: #f5f5f5;
  color: #4e4e4e;
}

h3 {
  margin: 0;
}

h5 {
  padding-left: 10px;
  margin: 1rem 0 0.6rem;
}

main {
  margin: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-gap: 8rem;
  padding: 2rem;
}

.shoppinglist__displayed-ingredients {
  box-sizing: border-box;
  padding: 0.3rem 1.3rem;
  margin-bottom: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  word-break: break-all;
  cursor: default;
}

.shoppinglist__displayed-ingredients--add-button {
  padding: 0.17rem 0.55rem;
  margin-left: 12px;
  border: none;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  color: rgb(143, 143, 143);
  box-shadow: 0.3px 0.3px 3px #a0a0a0, -0.3px -0.3px 4px #f8f8f8;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

.shoppinglist__displayed-recipies {
  box-sizing: border-box;
  max-width: 16rem;
  border: 1px solid #fff;
  border-radius: 0 0 7px 7px;
  background-color: rgb(252, 252, 252);
  margin-top: -5px;
  box-shadow: 6.91px 6.91px 20px #d6d6d6, -6.91px -6.91px 20px #ffffff;
  font-size: 22px;
  cursor: pointer;
}

.shoppinglist__displayed-recipies--element::after {
  content: '';
  display: block;
  width: 92%;
  margin: 1rem auto;
  height: 1px;
  background-color: rgb(206, 206, 206);
}

.shoppinglist__displayed-recipies--element:last-of-type::after {
  content: '';
  display: none;
}

.shoppinglist__results {
  box-sizing: border-box;
  margin-top: 5rem;
  min-width: 32rem;
  min-height: 15rem;
  padding: 2rem 3rem;
  border-radius: 16px;
  background: #f5f5f5;
  box-shadow: 24.62px 24.62px 20px #cecece, -24.62px -24.62px 20px #ffffff;
}

.shoppinglist__results--header {
  font-size: 28px;
  text-align: center;
}

.shoppinglist__results--ingredients-container {
  font-size: 16px;
  font-weight: 400;
  margin-top: 1.5rem;
}

.shoppinglist__results--ingredient {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem 0;
}

.shoppinglist__results--paragraph {
  margin-top: 1.5rem;
  font-size: 16px;
  opacity: 80%;
}

.shoppinglist__results--paragraph-remover {
  display: none;
}

.shoppinglist__results--remove-button {
  padding: 0.16rem 0.57rem;
  margin-right: 0.5rem;
  border: none;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  color: rgb(143, 143, 143);
  box-shadow: 0.3px 0.3px 3px #a0a0a0, -0.3px -0.3px 4px #f8f8f8;
  font-weight: bold;
  cursor: pointer;
  font-size: 14px;
}

.shoppinglist__search {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 3rem;
  border-radius: 16px;
  background: #f5f5f5;
  /* box-shadow: 24.62px 24.62px 20px #cecece, -24.62px -24.62px 20px #ffffff; */
  font-size: 40px;
  min-width: 24rem;
}

.shoppinglist__search--input {
  box-sizing: border-box;
  min-width: 16rem;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: inset 9.91px 9.91px 13px #d6d6d6, inset -9.91px -9.91px 13px #fcfcfc;
  border: none;
  min-height: 2rem;
  outline-color: rgb(129, 129, 129);
  padding-left: 6px;
  overflow: hidden;
}

.shoppinglist__search--input::placeholder {
  padding: 5px;
  color: #9c9c9c;
}

.shoppinglist__search--paragraph {
  font-size: 16px;
  color: #4e4e4e;
  opacity: 70%;
  text-align: center;
}
