*{
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}
main{
  background-color: rgb(225, 225, 225);
}
#menu-search, #menu-amount{
  margin: 1rem;
}
#menus {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
} 
.menu-element {
  background-color: white;
  border: 1px solid black;
  height: 50rem;
  width: 33%;
  margin-right: .15rem;
  margin-bottom: .15rem;
}
.menu-element-title{
  font-size: 1.5rem;
  padding: .6rem .6rem;
  text-align:center;
}  
.menu-element-restaurant {
  font-size: 1.5rem;
  padding-bottom: 1.2rem;
  text-align: center;
}
.menu-element-image {
  background-repeat: no-repeat;
  background-position: center center;
  height: 35%;
  width: 95%; 
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
  font-size: .9rem;
}
@media (max-width: 1199px){
#menus {
    flex-direction: column;
    flex-wrap: nowrap;
}
.menu-element{
  width: 100%;
}
}