/* ROOT ELEMENTS */

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
}

:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #fef2e6;
}

/* MAIN MENU NAVIGATION */

.nav-header {
  height: 70px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #ffedca;
}

ul.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.nav-item {
  float: left;
  border-radius: 10px;
}

li.nav-item.active {
  color: azure;
  background-color: #f54749;
  border-radius: 10px;
}

a.nav-link {
  display: block;
  color: rgb(53, 53, 53);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
}

a.nav-link:hover {
  background-color: rgb(124, 124, 124);
  border-radius: 10px;
}

/* NEWS SELECT */

.news-options {
  margin-top: 50px;
}

select .news-options {
  width: 200px;
  padding: 20px;
}

/* GENERIC ELEMENTS */

.content-box {
  margin-top: 25px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
