#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  background-color: lightcoral;
}

:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* MAIN MENU NAVIGATION 
.nav-header
.nav-bar
.nav-list
.nav-item
*/

.nav-header {
  height: 70px;
  width: 100%;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 15px 15px;
}
